In [2]:
import pandas as pd
import numpy as np
df = pd.read_csv("/Users/liamsweeney/dat-11-15/dat-11-15/dat-11-15/dat-11-15/ClassMaterial/Unit1/data/master.csv", parse_dates = ['visit_date'])

In [3]:
df.head()

,id,visit_date,visitors,day_of_week,holiday,genre,area,latitude,longitude,reserve_visitors
0,air_ba937bf13d40fb24,2016-01-13,25,Wednesday,0,Dining bar,Tōkyō-to Minato-ku Shibakōen,35.658068,139.751599,NaN
1,air_ba937bf13d40fb24,2016-01-14,32,Thursday,0,Dining bar,Tōkyō-to Minato-ku Shibakōen,35.658068,139.751599,NaN
2,air_ba937bf13d40fb24,2016-01-15,29,Friday,0,Dining bar,Tōkyō-to Minato-ku Shibakōen,35.658068,139.751599,NaN
3,air_ba937bf13d40fb24,2016-01-16,22,Saturday,0,Dining bar,Tōkyō-to Minato-ku Shibakōen,35.658068,139.751599,NaN
4,air_ba937bf13d40fb24,2016-01-18,6,Monday,0,Dining bar,Tōkyō-to Minato-ku Shibakōen,35.658068,139.751599,NaN

In [4]:
df['PartofWeek'] = np.where(df['day_of_week'].isin(['Saturday', 'Sunday']), 'Weekend', 'Weekday')

In [5]:
conditions = [
    df['visitors'] < 20,
    df['visitors'].between(21, 30),
    df['visitors'] > 30
]

results = [
    'Low Traffic',
    'Medium Traffic',
    'High Traffic'
]

df['Traffic'] = np.select(conditions, results, 'Other')

In [6]:
df['Traffic']

0         Medium Traffic
1           High Traffic
2         Medium Traffic
3         Medium Traffic
4            Low Traffic
               ...
252103      High Traffic
252104      High Traffic
252105      High Traffic
252106      High Traffic
252107    Medium Traffic
Name: Traffic, Length: 252108, dtype: object

In [7]:
df['area']

0         Tōkyō-to Minato-ku Shibakōen
1         Tōkyō-to Minato-ku Shibakōen
2         Tōkyō-to Minato-ku Shibakōen
3         Tōkyō-to Minato-ku Shibakōen
4         Tōkyō-to Minato-ku Shibakōen
                      ...
252103    Hyōgo-ken Kōbe-shi Kumoidōri
252104    Hyōgo-ken Kōbe-shi Kumoidōri
252105    Hyōgo-ken Kōbe-shi Kumoidōri
252106    Hyōgo-ken Kōbe-shi Kumoidōri
252107    Hyōgo-ken Kōbe-shi Kumoidōri
Name: area, Length: 252108, dtype: object

In [8]:
def clean_string(value):
    return value.lower().replace('-', '')

In [10]:
df['area'].apply(clean_string)

0         tōkyōto minatoku shibakōen
1         tōkyōto minatoku shibakōen
2         tōkyōto minatoku shibakōen
3         tōkyōto minatoku shibakōen
4         tōkyōto minatoku shibakōen
                     ...
252103    hyōgoken kōbeshi kumoidōri
252104    hyōgoken kōbeshi kumoidōri
252105    hyōgoken kōbeshi kumoidōri
252106    hyōgoken kōbeshi kumoidōri
252107    hyōgoken kōbeshi kumoidōri
Name: area, Length: 252108, dtype: object